/* Mobile and tablet */
@media (max-width: 1023px) {
   
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {

    .wide{
        width: unset;
    }
  .header-nav__item{
    padding: 0 6px;
    }

    .header-nav__item__link{
    font-size: 1rem;
    }
    
    .header-nav__list{
        display: flex;
        justify-content: flex-end;
    }

}

/* Mobile */
@media (max-width: 739px) {
    .header-nav__item{
        padding: 0 2px;
        }
    
        .header-nav__item__link{
        font-size: 0.5rem;
        }

        .header-nav__list{
            display: flex;
            justify-content: space-between;
        }

     
}


@media (min-width: 1023px) and (max-width: 1239px) {
    .header-nav__item{
        padding: 0 8px;
    }

    .header-nav__list{
        display: flex;
        justify-content: flex-end;
    }

}