*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(245, 228, 228);
}
.container{
    margin-top: 5px;
    flex: 6;
    
}
.nav{
    width: 100%;
    height: 80px;
    background-color: rgb(109, 204, 109);
    display: flex;
    justify-content: center; 
}
.nav_list{
    margin: auto;
}
.sub_nav_list{
    position: absolute;
    margin-top: 20px;
    width: 180px;
    background-color: #6d136a;
    display: none;
}
.sub_nav_item{
    display: block;
    list-style: none;
    position: relative;
}
.sub_nav_a{
    text-decoration: none;
    color: white;
    line-height: 40px;
    display: block;
    border-top: 1px solid white;
    border-right: 1px solid white;
    text-indent: 20px;
}
.sub_nav_a:hover{
    background: orange;
    color: red;
    transition: ease-in 0.4s;
    -moz-transition: ease-in 0.4s;
    -webkit-transition: ease-in 0.4s;
}
.nav_item{
    color: white;
    list-style: none;
   padding: 20px 0px;
   margin: 0 25px;
  display: inline-block;
  position: relative;
}
.nav_item:hover .sub_nav_list{
    display: block;
}
.nav_a{
    padding: 25px 5px;
    color: white;
    text-decoration: none;
}
.nav_a:hover{
    background: orange;
    color: red;
    transition: ease-in 0.4s;
    -moz-transition: ease-in 0.4s;
    -webkit-transition: ease-in 0.4s;
    
}
.mini_nav_list{
    position: absolute;
    min-width: 180px;
    top: 0 !important;
    left: 100%;
    background-color: #6d136a;
    display: none;

}
.sub_nav_item:hover .mini_nav_list
{
    display: block;
}
.edit_ip{
    width: 130px;
      box-sizing: border-box;
      border: 1px solid black;
      border-radius: 4px;
      outline:none;
      padding: 12px 14px;
      transition:1s ease-in-out;
}
.edit_ip:focus{
    width: 450px;
    background: turquoise;
}
.content{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 360px;  
}
.edit_pic{
    width: 350px;
    height: 270px;
}
.content_item1{
    display: flex;
    margin-left: 5px;
    padding: 0 18px;
}
.content_item1_first{
   display: block;
    border: 1px solid rgb(143, 135, 135);
    height: auto;
}
.main_content{
    min-width: 550px;
    display: flex;
}
#main_tag{
    background-color: rgb(86, 243, 86);
}

.content_tag a{
    
    text-decoration: none;
    margin-right: 10px;
    border: 1px solid rgb(196, 190, 190);
    border-radius: 2px;
    background-color: rgb(207, 199, 199);
}
.fadding{
    color: gray;
    margin-left: 5px;
    font-size: 15px;
}
.fadding:hover{
    color: red;
}
.detail{
    display: flex;
}
.adver{
    flex: 2;
}
#edit_adver{
    width: 390px;
    
}
.right_side{
    display: flex;
    flex-direction: column;
    flex: 2;
    
}
.short_news{
  flex: 1;
}
.news_contain{
    display: flex;
    border-top: 3px solid rgb(30, 184, 30) ;
}
.edit_link{
    text-decoration: none;
    color: black;
}
.edit_link:hover{
    color: red;
}