*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.web{
    text-transform: uppercase;
    white-space: nowrap;
    padding: 3px 10px;
    color: white;
    display: block;
    font-size: 0.8em;
    text-decoration: none;
}
#fixnav{
    width: 100%;
    height: 35px;
    background-color: black;
    display: block;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 100000;
}
#fixnav ul li
{
    list-style: none;
    width: auto;
    float: left;
    line-height: 35px;
    color:white;
    margin-right: 20px;
    
}
.container{
    display: block;
    overflow: auto;
}
div img{
    width: 1520px;
    height: 700px;
}
div h1{
    color: white;
    position: absolute;
    top: 630px;
    left: 700px;
}
div p{
    color: white;
    position: absolute;
    top: 670px;
    left: 600px;
}
.tex{
    text-align: center;
}
.para{
   position: static;
    color: black;
    text-align: center;
    margin-top: 10px;
}
.left{
    margin-top: 7rem;
    float: left;
}
.pic{
    width: 300px;
    height: 300px;
    border-radius: 15px;
}
#content_h2{
   position: relative;

    text-align: center;
    color: white;
}
#content_h3{
    color: white;
    text-align: center;
}
.edit_td{
    width: 770px; 
    height: 130px;
     background-color: white;
     margin-top: 3rem;
     margin-left: 23rem;
}
.td_li{
    font-size: 30px;
    color: #757575;
    text-decoration: none;
    list-style: none;
    margin-top: 10px;
}
.edit_sp{
    position: relative;
    top: 5px;
    font-size: 30px;
    margin-left: 5rem;
    color: white;
    background-color: red;
}
#edit_sp{
    position: relative;
    color: white;
    right: 3rem;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 5rem;
    text-align: center;
    background-color: black;
}
#edit_pc{
    position: relative;
    width: 768px;
    height: 470px;
    background-color: white;
    left: 23rem;
}
.edit_img{
    width: 256px;
    height: 183px;
    position: relative;
    bottom: 7rem;
}
.edit_divpc{
    width: 256px;
    height: 410px;
    background-color: white;
    float: left;
}
.edit_divimg{
    width: 256px;
    height: 250px;
    float: left;
}
.edit_divtxt{
    font-size: 30px;
    color: teal;
}
.edit_divtxt1{
    font-size: 15px;
    color: indigo;
}
.edit_txt{
    line-height: 2.5rem;
}
.edit_btn{
    margin-top: 1rem;
    margin-left: 0.5rem;
    background-color: black;
    color: whitesmoke;
    padding: 10px;
}
.edit_website{
    text-decoration: none;
    color: white;
    border: 10px solid black;
}
.edit_ct{
    width: 1520px;
    height: 410px;
    background-color: white;
}
#ct_left
{    margin-top: 5rem;
    margin-left: 20rem;
    float: left;
}
#ct_right{
    margin-top: 3.5rem;
    margin-left: 15rem;
    float: left;
}
.edit_input{
    width: 200px;
    height: 35px;
}
#edit_input1{
    margin-top: 1rem;
    width: 405px;
    height: 35px;
}
#edit_button{
    float: right;
}
#end.img{
    width: 1520px;
    height: 850px;
}
.icon_holder{
    size: 30px;
}
footer{
    text-align: center;
    font-size: 30px;
}